@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Test</h1>

<form action="@Url.Action("Result", "Home")" method="post">
    Get survey with id: <input type="number" name="id" />
    <input type="submit" value="Go!" />
</form>

<h4>All questions to survey id: 2</h4>
@Html.Raw(@ViewBag.surveyQuestion)

<h4>Answer with answerId: 6</h4>
@ViewBag.surveyAnswer

<h4>[Test] Answer question 2</h4>
@ViewBag.question
<form action="@Url.Action("AnswerTest", "Home")" method="post">
    <input type="number" name="answer" />
    <input type="submit" value="Go!" />
</form>

<h4>All Answers to question 2</h4>
@Html.Raw(@ViewBag.answers)


<h4>All surveys</h4>
@using(Html.BeginForm("AnswerSurvey", "Survey", FormMethod.Post))
{
    <select>
    @for(int i = 0; i < ViewBag.surveyCount; i++)
    {
        <option value=@i name=@i>@i</option>
    }
    </select>
    <input type="submit" value="Go!" />
}