@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using WebApp.Models

<h2>@ViewBag.surveyTitle</h2>
<h4>Survey id: @ViewBag.surveyId</h4>
<h4>@ViewBag.surveyActivity</h4>

@model List<SurveyQuestion>
@using (Html.BeginForm("FinishSurvey", "Survey", FormMethod.Post))
{
    if(Model != null)
    {
        foreach (SurveyQuestion surveyQuestion in Model)
        {
            <p>@surveyQuestion.QuestionNumber) @surveyQuestion.Question</p>
            <input list="numbers" name="surveyQuestionId-@surveyQuestion.SurveyQuestionId" />
            <datalist id="numbers">
                    @for(int i = 1; i <= 10; i++)
                    {
                        <option value=@i>@i</option>
                    }
            </datalist>
        }
    }
    <input type="submit" value="go!" />
}