@model Tuple<WebApp.Models.Survey, List<WebApp.Models.SurveyQuestion>>

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Survey</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Item1.SurveyId)

        <div class="form-group">
            @Html.LabelFor(model => model.Item1.SurveyTitle, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Item1.SurveyTitle, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Item1.SurveyTitle, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Item1.ClosingDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Item1.ClosingDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Item1.ClosingDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<p>
    
    @Html.ActionLink("Create New", "CreateSurveyQuestion", Model.Item1)
</p>
<table class="table">
    @if (Model.Item2 != null)
    {
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Item2.First().SurveyId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Item2.First().QuestionNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Item2.First().Question)
        </th>
    </tr>
        foreach (var item in Model.Item2)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SurveyId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuestionNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Question)
                </td>
            </tr>
        }
    }
</table>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
