@model IEnumerable<WebApp.Models.Survey>

@{
    ViewBag.Title = "Survey Overview";
}

<h2>Survey Overview</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SurveyTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreationDate)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SurveyTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.ActionLink("Add Question", "SurveyQuestions", new { id = item.SurveyId }) |
                @Html.ActionLink("Edit", "Edit", new { id = item.SurveyId }) |
                @Html.ActionLink("Details", "Details", new { id = item.SurveyId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.SurveyId })
            </td>
        </tr>
    }
</table>
